.encabezado {
  background: rgb(94, 93, 93);
  padding: 10px;
  
  width: auto;
  height: auto;
  
}

p{
  font-size: 20px;
}
.p1{
  font-size: 15px;
}

li{
  font-size: 18px;
  padding: 3px;
}
.l1{
  font-size: 20px;
  padding: 5px;
}
.h2{
  margin-bottom: 2px;
}
.h3{
  margin-bottom: 1px;
}
.imagen {
  float: left; 
  width: 150px; 
  height: auto; 
  margin-top: 20px;
  border-radius: 10px;
}

.linea {
  border: none; 
  height: 3px; 
  background-color: black; 
  margin: 10px 0;
}
.sub{
  font-size: 25px;
}
.texto-blanco {
  color: white;
  text-align: center;
  font-size: 40px;
}
.texto-gris{
  color:white;
  text-align: center;
  font-size: 35px;
  font-weight:lighter;
}
.borde {
  
  flex-direction: column; 
  border: 1px solid #c5bebe;
  padding: 10px;
  margin: 20px;
  width: 960px;
  height: auto;

}
.texto{
  font-size: 8px;
}
.content {
  display: flex;
}

.cuadro {
  width: auto;
  background: rgb(216, 218, 219);
  padding: 40px;
  height: auto;
}

.cuadro2 {
  width: auto;
  background: rgb(255, 255, 255);
  padding: 40px;
  height: auto;
}
